@model RecentlyAddedModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recently Added Shows</h1>
</div>

<div class="text-center">
    <p>Last Updated - <span style="color: red">@Model.LastUpdated.ToShortDateString()</span> -
                      @Model.TranslatedLastUpdated</p>
</div>

<h2 class="center">Cartoons</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Cartoons)
    {
        <tr>
            <td><a href="@item.Url">@item.Name</a></td>
        </tr>
    }
</table>

<br />

<h2 class="center">Anime</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Anime)
    {
        <tr>
            <td><a href="@item.Url">@item.Name</a></td>
        </tr>
    }
</table>
