@model RecentlyAddedShowsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="headline" class="display-4">Recently Added Shows</h1>
</div>

<div class="text-center">
    <p id="date">Last Updated - <span style="color: red">@Model.LastUpdated.ToString("dd/MM/yyyy")</span> - @Model.TranslatedLastUpdated</p>
</div>

<h2 id="summary" class="center">Cartoons</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Cartoons)
    {
        <tr id="item">
            <td>
                @if (item.IsUpdated)
                {
                    <strong>
                        <a id="link" href="@item.Url">@item.Name</a>
                    </strong>
                }
                else
                {
                    <a id="link" href="@item.Url">@item.Name</a>
                }
            </td>
        </tr>
    }
</table>

<br />

<h2 id="summary" class="center">Anime</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Anime)
    {
        <tr id="item">
            <td>

                @if (item.IsUpdated)
                {
                    <strong>
                        <a id="link" href="@item.Url">@item.Name</a>
                    </strong>
                }
                else
                {
                    <a id="link" href="@item.Url">@item.Name</a>
                }
            </td>
        </tr>
    }
</table>
